.home {
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;
}

.search-form {
  max-width: 600px;
  margin: 0 auto 2rem;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
}


.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #666;
}

@media (max-width: 639px) {
  .home {
    padding: 1rem 0;
  }

  .search-form {
    margin-bottom: 1rem;
  }
}


.loader-container {
  position: fixed;
  /* Make it fixed so it stays in place */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  /* Optional: a semi-transparent background */
  z-index: 1000;
  /* Make sure the loader is on top */
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.search-input {
  width: 35%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.error-message {
  color: rgb(18, 122, 202);
  text-align: center;
  margin-top: 20px;
  font-weight: 650;
  font-size: 50px;
}

.no-movies-message {
  text-align: center;
  font-size: 1.5rem;
  color: #555;
  margin-top: 20px;
}

/* Assuming each MovieCard has a .movie-image class for images */
.movie-card {
  position: relative;
  overflow: hidden;
  /* Prevent overflow when scaling */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Add hover effect on movie card images */
.movie-card:hover {
  transform: scale(1.05);
  /* Scale the card slightly when hovered */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  /* Add shadow for a lifted effect */
}

/* Apply transition to images */
.movie-card img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  /* Smooth scale transition */
}

.movie-card:hover img {
  transform: scale(1.1);
  /* Scale the image slightly when the card is hovered */
}